
.container{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
    background-image: url(Images/background.jpg);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    position: relative;
}

#intro {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}



#greeting-container {
  margin-top: 20px;
}

#photosofme {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#footer {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}